{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <h1 class="d-flex justify-content-center myTitle text-white"> Planet'Sneakers</h1>
    <p class="d-flex justify-content-center text-white intro">
        SOYEZ AU COURANT DES DERNIÈRES SORTIES SNEAKERS
    </p>
    <div class="d-flex justify-content-center">
        <img class="sneakersGif" src="images/sneakers.gif"/>
    </div>


{% endblock %}
