{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION{% endblock %}

{% block body %}
    <div class="bg-black" style="min-height: 90vh; background-color: black;">
    {% include'admin/_sneakerIndex.html.twig' %}
    </div>
{% endblock %}