{% extends 'base.html.twig' %}

{% block title %}Edit Sneakers{% endblock %}

{% block body %}
    <h1>Edit Sneakers</h1>

    {{ include('sneakers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sneakers_index') }}">back to list</a>

    {{ include('sneakers/_delete_form.html.twig') }}
{% endblock %}
