{% extends 'base.html.twig' %}

{% block title %}New Sneakers{% endblock %}

{% block body %}
    <h1>Create new Sneakers</h1>

    {{ include('sneakers/_form.html.twig') }}

    <a href="{{ path('sneakers_index') }}">back to list</a>
{% endblock %}
