<form  method="post" action="{{ path('admin_sneaker_delete', {'id': sneaker.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sneaker.id) }}">
    <button class="btn text-white border my-5 ms-5">Supprimer</button>
</form>